
@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1>Get to Know Joel</h1>
</div>
<br />
<div class="row">
    <div class="column1">
        <h3>Quick Wits Improv Comedy</h3>
        <p>
            Improv comedy is a passion of mine and I perform regularly at Quick Wits! Quick Wits is an 
            improvisational comedy troupe that takes audience suggestions to create comedy sketches on the 
            spot. Quick Wits performs mostly PG to PG-13 humor with innuendo being the worst offense (though 
            things do happen from time to time, but it's rare). If you've seen a show like "Whose Line Is 
            It Anyway?", you've got a good idea of what to expect from a Quick Wits show. Here's something to 
            think about with a Quick Wits show. Think about a good comedy movie you watched and how many big 
            laughs you got out of that. We can promise more, and bigger, laughs at our show – and we just made 
            it up right before we said it!
        </p>
        <a class="btn" href="https://www.qwcomedy.com/">Go to site</a>
    </div>
    <div class="column2 text-center">
        <a href="https://www.qwcomedy.com/">
            <img src="~/img/quickwits.jpg" alt="Quickwits comedy group" width="75%" />
        </a>
    </div>
</div>
<br />
<div class="dropdown-divider"></div>
<br />
<!--FIX THIS SO THE IMAGE DISPLAYS-->
<div class="row">
    <div class="column1">
        <h3>Baconsale</h3>
        <p>
            While bacon the food is great too, I help run this site and podcast to help people keep up-to-date
            with pop culture! A comedian (me), a movie critic, and a barber walk into a family-friendly pop culture 
            podcast to humorously discuss movies, music, TV, food, video games & more!
        </p>
        <a class="btn" href="https://baconsale.com/">Go to site</a>
    </div>
    <div class="column2 text-center">
        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" alt="Baconsale team picrure" width="75%" />
        </a>
    </div>
</div>
<br />
